{% extends "base.html" %}

{% block content %}
    <!-- Everything here can be replaced as needed -->
 <div class="container">
    <ul class="nav gfast-nav-pills nav-justified" style="font-weight: bold;">
          <li class="active"><a data-toggle="pill" href="#about">ABOUT</a></li>
          <li><a data-toggle="pill" href="#systems">SYSTEMS</a></li>
          <li><a data-toggle="pill" href="#apps">APPS</a></li>
          <li><a data-toggle="pill" href="#support">SUPPORT</a></li>
   </ul>

  <div class="tab-content">
      <div class="tab-pane fade in active" id="about">
           <div class="container" id="team" style="margin-bottom: 322px; margin-top: 100px;">
              <div class="row">
                 <div class="col-lg-8 col-lg-offset-2">
					<div class="frontside" style="background: hsla(240,100%,5%,.7) border-box;">
						<div class="card">
							<div class="card-body2 text-center">
								<br/><br/>
								<h2 class="card-title">Welcome to GFAST Central</h2>
								<span >
									Your one-stop shop providing you with easy access to online tools, technology, and support for actuarial modelling in the Cloud.
								<br /><br />
								  The Group Finance Actuarial Systems Team
									(<a href="https://mfc.sharepoint.com/sites/GblFin/AMC/Reference/Pages/Meet%20the%20Teams/GFA%20Systems%20Team.aspx" target="_blank" class="hyperlnk3">GFAST</a>) delivers High Performance Computing (HPC) to our global actuarial community.  
								  <br /><br />
								  GFAST is part of
								  <a href="https://mfc.sharepoint.com/sites/GblFin/SitePages/Home.aspx" target="_blank">
									  Global Finance, 
								  </a>
								  <a href="https://mfc.sharepoint.com/sites/GblFin/GloActu/SitePages/Home.aspx" target="_blank">
									 Actuarial Hub
								  </a> and
								  <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/SitePages/Home.aspx" target="_blank">
									  Actuarial Modelling & Computing.
								  </a> 
								  <br /><br />
								</span>
							</div>
						</div>
					</div>

                 </div>
			 </div>
           </div>
      </div>
    <!-- End of About-->
    <!-- System Tools -->
      <div class="tab-pane fade" id="systems">
        <div class="container" id="team" style="margin-bottom: 342px;">
                <div class="row">
                    <!-- System Tool 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="static/images/networking.png" alt="card image"></p>
                                            <h2 class="card-title">Actuarial Cloud Environment</h2>
                                            <span> </span><br>
                                                          </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                            <h2 class="card-title">ACE</h2>
                                            <span>
                                                <a href="https://ace.mfcgd.com/RDWeb/Pages/en-US/login.aspx?ReturnUrl=/RDWeb/Pages/en-US/Default.aspx" target="_blank" >
                                                 Actuarial Cloud Environment </a>
                                                  is Manulife’s high performance computing actuarial modelling platform used for technology enabled reporting processes.
                                                <br/><br>
                                                Access to ACE is granted through
                                                 <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/Training/Pages/How%20to%20Work%20with%20Access%20Control%20Lists%20(ACLs).aspx" target="_blank">
                                                      access control lists
                                                 </a>(ACLs).
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- System Tool 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="static/images/bugfix.png" alt="card image"></p>
                                            <h2 class="card-title">AXIS Enhancements</h2>
                                            <span> </span><br>
                                                 </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                            <h2 class="card-title">AXIS Enhancements</h2>
                                            <span>
                                              GFAST tracks
                                              <a href="http://jira.manulife.com:8080/secure/Dashboard.jspa?selectPageId=12500" target="_blank">
                                                  AXIS Features & Bugs</a>
                                              submitted by Manulife to Moody’s Analytics in a JIRA dashboard. This dashboard is updated on a biweekly basis. 
                                              <br /><br />
                                                For access, see
                                              <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/Training/Pages/How%20to%20Access%20JIRA.aspx" target="_blank" >
                                                  these instructions</a>.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- System Tool 3 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body2 text-center">
                                            <p><img class=" img-fluid" src="static/images/gitlablogo.png" alt="card image"></p>
											<h2 class="card-title">GFAST DevOps</h2>
                                            <span> </span><br>
                                              </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                            <h2 class="card-title">GFAST DevOps</h2>
                                            <span>
                                              GFAST leverages Gitlab for source control and application delivery.
                                              <br /><br />
                                              User can submit Issues and Feature Requests and join in the 
											  <a href="https://git.platform.manulife.io" target="_blank" >
                                                      GFAST development process</a>.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    <!-- End of System Tools -->
    <!-- Applications -->
      <div class="tab-pane fade" id="apps">
        <div class="container" id="team">
                <div class="row">
                    <!-- App 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body2 text-center">
                                            <p><img class=" img-fluid" src="static/images/time-management-1.png" alt="card image"></p>
                                            <h2 class="card-title">CHI</h2>
                                            <span>  </span><br>
                                            </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                            <h2 class="card-title">CHI</h2>
                                        <span>
                                          The
                                          <a href="https://gfast-chi.manulife.com/" target="_blank" >
                                              Compute Hour Investigator</a>
                                          can help identify efficient and inefficient modelling practices, improve your business processes, and reduce costs.
										  <br /><br />
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- App 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body2 text-center">
                                            <p><img class=" img-fluid" src="static/images/database-1.png" alt="card image"></p>
                                            <h2 class="card-title">CSI</h2>
                                            <span>   </span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                             <h2 class="card-title">CSI</h2>
                                        <span>
                                          The
                                          <a href="https://csi.apps.cac.preview.pcf.manulife.com" target="_blank" >
                                              Cloud Storage Investigator</a>
                                          helps to identify
                                          storage volumes and manage overall consumption to immediately reduce  storage-related expenses on the Cloud.
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- App 3 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="static/images/clipboard.png" alt="card image"></p>
                                            <h2 class="card-title">GMINT</h2>
                                            <span>  </span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                             <h2 class="card-title">GMINT</h2>
                                        <span>
                                              The 
											  <a href="https://gmint-dev.apps.cac.preview.pcf.manulife.com/login/?next=%2Fvetting_projects%2F" target="_blank" >
                                                Global Model Inventory Tool</a> (Preview)
												   is a repository of all Models within Manulife in a standardized format.
                                                <br /><br />
                                              GMINT is used to view model lists, vetting reports, and related issues.
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- App 4 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body2 text-center">
                                            <p><img class=" img-fluid" src="static/images/access.png" alt="card image"></p>
                                            <h2 class="card-title">ACL Report</h2>
                                            <span> </span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                             <h2 class="card-title">ACL Report</h2>
                                        <span>
                                          The AD Mail Out will cross-reference the group membership of ACLs to HR data to provide  information regarding access.
                                          <br /><br />
                                          To receive a monthly ACL membership report, email
                                          <a href="mailto:GFAST@manulife.com">GFAST</a> with your ACL list.
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- App 5 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body2 text-center">
                                          <p><img class=" img-fluid" src="static/images/laninspect.png" alt="card image"></p>
                                          <h2 class="card-title">LANSpector</h2>
                                          <span>   </span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                             <h2 class="card-title">LANSpector</h2>
                                          <span>
                                              <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/Technology/Pages/LANSpector.aspx" target="_blank">
                                                  LANSpector
                                              </a> crawls your unstructured data to determine who has access to your fileshares, and aid in LAN cleanup exercises.
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
  <!-- End of Applications -->
      <!-- Support Tools -->
      <div class="tab-pane fade" id="support">
        <div class="container" id="team" style="margin-bottom: 342px;">
                <div class="row">
                    <!-- Support 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="static/images/axis.jpg" alt="card image"></p>
                                            <h2 class="card-title">AXIS Support</h2>
                                          <span>   </span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                            <h2 class="card-title">AXIS Support</h2>
                                        <span>
                                          We're here to Help! Click
										  <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/Reference/Pages/Support.aspx" target="_blank">
                                              here</a>
										  for resources and technical AXIS support on the Actuarial Cloud Environment.  
                                          
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- support 2 -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="static/images/Report2a.jpg" alt="card image"></p>
										<h2 class="card-title">ACE Consumption Reports</h2>
									  <span>   </span><br>
										</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-left mt-4">
										 <h2 class="card-title">ACE Consumption Reports</h2>
									<span>
									  Monthly reporting and finance reports produced by GFAST help business leaders understand where costs are allocated for each work area in ACE.
									  <br/><br/>
									  Reports are posted monthly and are available
									  <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/Reference/Pages/ACE%20Consumption%20Reports/ACE%20Consumption%20Reports.aspx" target="_blank">
										 here. </a>
									  
									</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                    <!-- support 3 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="static/images/modelconsult.png" alt="card image"></p>
                                            <h2 class="card-title">Model Consultation</h2>
                                          <span>   </span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                             <h2 class="card-title">Model Consultation</h2>
                                        <span>
                                          The GFAST AXIS Modelling team provides expertise on modelling and dataset configuration and optimization.
                                          <br/><br/>
                                          Complete the following
										  <a href="\static\file\GFAST_AXIS_Request.oft" target="_blank">
                                            form</a>
											to initiate a request.
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Support 4 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body2 text-center">
                                            <p><img class=" img-fluid" src="\static\images\GFAST_logo_160x75.png" alt="card image"></p>
                                            <h2 class="card-title">GFAST</h2>
                                          <span>   </span><br>
                                            </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-left mt-4">
                                             <h2 class="card-title">GFAST</h2>
                                        <span>
										GFAST delivers automated Tools, Technology & Support for Actuarial Modelling in the Cloud. We are here to
                                          <a href="mailto:GFAST@manulilfe.com">
                                              Help!
                                          </a>
                                        </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	

				<!-- Support 4 -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="static/images/AMC.png" alt="card image"></p>
										<h2 class="card-title">AMC Community</h2>
									  <span>   </span><br>
										</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-left mt-4">
										 <h2 class="card-title">AMC Community</h2>
									<span>
									  The
									  <a href="https://mfc.sharepoint.com/sites/GblFin/AMC/SitePages/Home.aspx" target="_blank" >
										  Actuarial Modelling & Computing
									  </a>
									  community is the knowledge sharing platform for our global AXIS Modelling community.
									</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
      </div>
      <!-- End of Support tools -->
  </div>
 </div>
{% endblock %}